@import "../../node_modules/ag-grid-community/styles/ag-grid.css";
@import "../../node_modules/ag-grid-community/styles/ag-theme-alpine.css";

.logs-content {
  .title {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
}
